/* =======================================================================
Template Name: B-Space Single Page Template
Author:  SmartEye Technologies
Author URI: www.smart-eye.in
Version: 1.0
coder name:Prabin Raja
Description: This Template is created for web template

======================================================================= */
/* ===================================== Import Less ================================== */
/*@font-face {
  font-family: robot-slab;
  src: url('../fonts/RobotoSlab-Regular.ttf');
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}*/
.blog-box1 .cdfik li {
  float: left;
  padding: 11.5px;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-top: 1px solid #ededed;
}
.blog-box1 .sd-op {
  background-color: #f58220;
  text-align: center;
  color: #FFF;
  padding-bottom: 10px;
  padding-top: 5px;
}
.blog-box1 .cdfik {
  width: 100%;
}
.blog-box1 .pof-det {
  padding: 10px;
  padding-left: 10px;
  padding-left: 60px;
}
.blog-box1 .pof-det b {
  font-size: 13px;
}
.blog-box1 .pof-det p {
  font-size: 13px;
  text-align: justify;
  text-indent: 20px;
  margin-top: 5px;
}
.blog-box1 .sd-op b {
  font-size: 22px;
}
/* ===================================== Basic CSS ================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  outline: none;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}
.cp {
  cursor: pointer;
}
p {
  margin-bottom: 0px;
  width: 100%;
}
.layy {
  padding: 30px;
}
h2 {
  width: 100%;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}
.sec-title {
  text-align: center;
}
.sec-title h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: none;
  font-family: robot-slab;
}
.sec-title p {
  font-size: 14px;
}
body {
  background: #f4f4f4;
  font-family: robot-slab;
  font-size: 0.85rem;
  overflow-x: hidden;
}
.container {
  max-width: 1250px;
}
.social {
  position: fixed;
  left: 0px;
  top: 37%;
  width: 60px;
  height: 120px;
  background-color: #EAEAEA;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.social ul li {
  list-style: none;
  float: none;
  font-size: 32px;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #FFF;
}
.social ul {
  padding-left: 0px;
}
/* ===================================== Header Style  ================================== */
.login-box {
  padding: 20px;
  background-color: #FFF;
  float: inherit;
  margin: auto;
  margin-top: 12%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.login-box .title-box {
  padding: 10px;
  background-color: #9c00ac;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: -38px;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
  margin-bottom: 40px;
}
.login-box .title-box h2 {
  font-size: 28px;
  margin-bottom: 0px;
}
.login-box .title-box p {
  font-size: 12px;
}
.login-box .row {
  margin: 0px;
  margin-top: 35px;
}
.login-box .row input {
  height: 35px;
  border: 0px;
  border-bottom: 1px solid #CCC;
}
.login-box .row label {
  margin-top: 7px;
  margin-left: 9px;
  float: left;
}
.login-box .row input[type=checkbox] {
  float: left;
}
.login-box .chk-lab {
  margin-top: 40px;
}
.login-box .chk-lab .colkd {
  padding-top: 7px;
  text-align: right;
}
.login-box .chk-lab .colkd a {
  color: #9c00ac;
  font-size: 13px;
}
.login-box .submot-row {
  text-align: center;
  margin-top: 10px;
}
.login-box .submot-row .btn-sm {
  margin-bottom: -55px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  width: 160px;
  background-color: #9c00ac;
  border-color: #9c00ac;
}
.coy-info {
  padding: absolute;
  float: right;
  bottom: 0px;
  margin-right: 30px;
  margin-top: 100px;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  color: #D8D8D8;
}
input::-moz-placeholder {
  font-size: 14px;
  color: #D8D8D8;
}
input::-ms-input-placeholder {
  font-size: 14px;
  color: #D8D8D8;
}
.btn-success:hover {
  background-color: #9c27b0 !important;
  border-color: #9c27b0 !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
  border-bottom: 2px solid #9c00ac !important;
}

.btn {
  padding: 3px !important;

}

.text-center {
        color: white;
    font-size: 21px;
}

.panel-header-sm {
    height: 0px !important;
}

.panel-header {
    padding-bottom: 0px;
  }

  table.dataTable, table.dataTable th, table.dataTable td {
 
    font-size: 11px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 4px 11px;
    border-bottom: 1px solid #111;
    border-right: 1px solid #5839c8;
    background: thistle;
  }
  table.dataTable, table.dataTable th, table.dataTable td {
    font-size: 11px;
    border-right: 1px solid aquamarine;
    padding: -2px;
    font-style: normal;
}